@import 'normalize-scss';
@include normalize();
@import './variables.scss';

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}