:root {
  --bg-dark: #1a1a1a;
  --text-contrast: #ffffff;
  --space-blue: #8fdffa;
  --space-blue-light: #c4f3ff;
  --space-blue-opacity: #489bb63a;
  --black-shadow: black;
  --text-box: #2C2C2C;
  --label-bg: rgb(236, 236, 236);
}